$primary-red:#AA0601;
$primary-dark-red:#650300;
$secondary-pink:#FBF2F2;
$card-border-color:#DEE2E6;
$nav-border-color:#DCDCDC;
$pagination-border-color:#555555;
$pagination-disable-color:#F2F2F2;
$select-input-border:#CED4DA;
$shadow-color:#00000029;
$text-gray:#707070;
$muted-text:#555555;
$white:#FFFFFF;
$black:#000000;